@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.container {
    background-image: url(mobail\ bad\ effect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 899px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex {
    min-width: 825px;
    min-width: 320px;
    display: inline-block;
    justify-content: center;
    align-items: center;

}

.container h1 {
    font-weight: 700;
    font-size: 75px;
    text-align: center;
}

.container span {
    color: red;
}

.container p {
    text-align: center;
    font-weight: 700;
    color: white;
}

.container .link {
    border: solid 2px rgb(235, 108, 108);
    padding: 16px 21.5px;
    background-color: rgb(235, 108, 108);
    color: white;
    line-height: 120px;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 540px;
    margin-top: 100px;
}

.container-2 {
    width: 765px;
    margin-left: 538px;
}

.header {
    text-align: center;
    font-size: 65px;
    margin-top: 130px;
    line-height: 54px;
    font-weight: 700;
}

.paragrap {
    text-align: center;
}

.taka {
    display: flex;
    justify-content: space-around;
}

.taka p {
    border: solid rgb(255, 255, 255) 3px;
    padding: 43px 24px;
    color: rgb(130, 132, 133);
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(233, 231, 228);
    border-radius: 5%;

}

.input {
    color: #B3B3B3;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 69px;
    margin-left: 530px;
    height: 0;
    width: 765px;
}

.link-div {
    text-align: center;
    margin-top: 80px;
    margin-right: 51px;

}

.link-2 {
    border: solid rgb(245, 157, 157) 3px;
    padding: 16px 20.5px;
    color: white;
    background-color: rgb(247, 137, 137);
    border-radius: 5px;
}

.container-3 {
    width: 691px;
    margin-top: 130px;
    margin-left: 445px;
}

.donate-plan {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 250px;
}

.donate-plan-2 {
    text-align: center;
    font-weight: 500;
}

.three-div {
    display: flex;
    margin-top: 80px;
    width: 1128px;
    justify-content: flex-start;
}

.three-div div {
    padding: 42px 32px 10px 32px;
    border: rgb(255, 255, 255) solid 3px;
}

.card-1 {

    width: 560px;
    background-color: rgb(192, 253, 253);
    margin-right: 56px;
}

.card-2 {
    width: 560px;
    background-color: rgb(243, 188, 188);
    margin-right: 50px;
}

.card-3 {
    width: 560px;
    background-color: rgb(242, 247, 198);
    margin-right: 157px;
}

.next-div {
    display: flex;
    width: 1032px;
    margin-left: 400px;
    margin-top: 131px;
}

.div-first {
    width: 493px;
}

.div-first h1 {
    font-size: 45px;
    font-weight: 700;
}

.link-div-2 {
    display: flex;
    justify-content: flex-start;
}

.contribute {
    border: solid rgb(243, 104, 104) 3px;
    padding: 16px 21px;
    background-color: rgb(247, 90, 90);
    font-size: 20px;
    font-weight: 600;
    color: #fff9f9;
    border-radius: 5px;
    margin-top: 30px;
}

.mask-group {
    width: 456px;
    margin-left: 83px;
}

.sagor {
    display: flex;
    margin-top: 130px;
    width: 1032px;
    margin-left: 400px;
}

.Hossain {
    width: 482px;
    margin-left: 90px;
}

.Hossain h1 {
    font-size: 45px;
    font-weight: 700;
}

.update {
    width: 809px;
    text-align: center;
    margin-left: 510px;
    margin-top: 130px;
}

.update h1 {
    font-size: 45px;
    font-weight: 700px;
}

.nothing {
    width: 809px;
    height: 200px;
    background-color: bisque;
    margin-left: 510px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    width: 275px;
    height: 48px;
    font-size: 16px;
    background-color: #cfcece;
    padding-left: 20px;
    border-radius: 30px 0 0 30px;
}

.subscribe {
    width: 157px;
    height: 54px;
    background-color: rgb(245, 97, 97);
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: aliceblue;
    margin-left: -10px;
}

.footer {
    width: 1890px;
    height: 177px;
    background-color: black;
    margin-top: 162px;
}

.footer h1 {
    color: orangered;
    text-align: center;
    padding-top: 43px;
}

.footer p {
    text-align: center;
    color: white;
    padding-top: 20px;
}